
<div class="container">
    {% for photos in photos  %}

    <div class="row">
        <h1 class="text-center">{{image.name}}</h1>
      </div>
   
    
    <div class="row">
      <img src="{{photos.image.url}}"  class="img-responsive" alt="">
    </div>
 
    
    <div class="row">
      <p>{{image.description}}</p>
    </div>

    <div class="row">
        <h1 class="text-center">{{image.category}}</h1>
      </div>

      <div class="row">
        <h1 class="text-center">{{image.location}}</h1>
      </div>
   
   
 
    <div class="row">
      <p>Posted {{image.pub_date|timesince}} </p>
    </div>
    {%endfor%}
 
  </div>
